<%= render "shared/page_title", title: "Chef #{@chef.chefname}´s profile" %>

<div class="row">
    <div class="col-md-12 center">
        <%= gravatar_for @chef, size: 150 %>
    </div>
</div>
<% if @chef.recipes.count != 0%>
    <h2 class="text-center"><%= @chef.chefname %>'s recipes</h2>

    <%= paginate @chef_recipes%>
    <%= render "recipes/recipe", obj: @chef_recipes %>
<% else %>
    <h4 class="text-center">No recipes yet</h4>
<% end %>